.container
  .row
    .col.s12.m6.offset-m3
      %h3 Sign Up
      -if flash[:alert]
        = flash[:alert]
      = devise_error_messages!
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        .input-field
          = f.label :email
          = f.email_field :email, autofocus: true
        .input-field
          = f.label :password
          = f.password_field :password, autocomplete: "off"
        .input-field
          = f.label :password_confirmation
          = f.password_field :password_confirmation, autocomplete: "off"
        .actions
          %button.waves-effect.waves-light.btn{:type => "submit"} Sign Up
      = render "devise/shared/links"
