%nav
  .nav-wrapper
    = link_to root_path, id: 'brand-logo', class: 'brand-logo' do
      %div.flex
        = image_tag "logo.png", class: 'px1'
        IcyCalendar
    %a.sidenav-trigger{"data-target" => "mobile-demo", :href => "#"}
      %i.material-icons menu
    %ul.right.hide-on-med-and-down
      - unless user_signed_in?
        %li{title: "Sign In"}
          = link_to new_user_session_path do
            .flex
              %i.px1.material-icons exit_to_app
              Sign In
      - else
        %li{title: "Settings"}
          = link_to "/settings" do
            .flex
              %i.px1.material-icons settings
              Settings
        %li{title: "Sign Out"}
          = link_to destroy_user_session_path, method: :delete do
            .flex
              Sign Out
    %ul#mobile-demo.sidenav
      - unless user_signed_in?
        %li.px1
          = link_to new_user_session_path do
            %i.px1.material-icons exit_to_app
            Sign In
      - else
        %li.px1
          = link_to "/settings" do
            %i.px1.material-icons settings
            Settings
        %li.px1
          = link_to destroy_user_session_path, method: :delete do
            Sign out
            
            

       