<div class='show-day'>
	<div style="display:flex; align-items: center;">
		<%= link_to url_for(:back), style: "margin-right: 25px;" do %>
			<%= icon('calendar', class: "fa-3x", title: "Back to calendar") %>
		<% end %>
		<h5>Appointments for <%= @date.strftime("%A, %B #{@date.day.ordinalize} %Y") %></h5>
		<%= link_to new_appointment_path(year: @date.year, month: @date.month, day: @date.day), class: "btn-floating btn-medium waves-effect waves-light green modal-trigger", style: "margin-left: 25px;",remote: true do %>
				<i class="material-icons" title="Create new appointment">add</i>
		<% end %>
	</div>
	<hr/>
	<% if @appointments.empty? %>
		<p id='appointment-list-message'>There are no appointments for this date</p>
	<% else %>
		<p id='appointment-list-message' style='display:none;'>There are no appointments for this date</p>
	<% end %>
	<table id='appointment-table' style='<%= @appointments.empty? ? "display:none;" : "display:table;" %>'>
		<thead>
			<tr>
				<th>TIME</th>
				<th>DESCRIPTION</th>
				<th>ACTIONS</th>
			</tr>
		</thead>
		<tbody class='tbl-appointments'>
			<% @appointments.each do |appointment| %>
			<tr data-appointment-id="<%= appointment.id %>">
				<td><%= appointment.time.strftime("%H:%M") %></td>
				<td><%= appointment.description %></td>
				<td>
					<%= link_to edit_appointment_path(appointment), remote: true do %>
						<%= icon('pencil', class: "fa-2x", style: "color:orange") %>
					<% end %>
					<%= link_to appointment_path(appointment), method: :delete, remote: true, data: {confirm: "Delete appointment?"} do %>
						<%= icon('times', class: "fa-2x", style: "color:red") %>
					<% end %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<div id="modal-appointment-form" class='modal' style='width:500px'></div>
</div>

