.calendar-heading
  = link_to "<", calendar_path(@prev_month == 12 ? @current_month.year-1 : @current_month.year, @prev_month), class: 'btn-floating waves-effect waves-light'
  %h4= Date::MONTHNAMES[@current_month.month].upcase
  = link_to ">", calendar_path(@next_month == 1 ? @current_month.year+1 : @current_month.year, @next_month), class: 'btn-floating waves-effect waves-light'
  = link_to "<", calendar_path( @current_month.year-1, @current_month.month), class: 'btn-floating waves-effect waves-light red'
  %h4= @current_month.year
  = link_to ">", calendar_path(@current_month.year+1, @current_month.month), class: 'btn-floating waves-effect waves-light red'

#calendar
  %table
    %thead
      %tr
        - Date::DAYNAMES.each do |day|
          %th= day
    %tbody
      - while @day_index <= @num_days_in_month do
        %tr
          - 7.times do
            %td.relative.center{class: "#{'td-other-month' if (@day_index == 1) && (@calendar_cell_index < @first_weekday_of_month) || @day_index > @num_days_in_month}#{ 'td-current-day' if @today == @day_index}", data: {'day-index': "#{@day_index}", "show-path": "/calendars/#{@year}/#{@month}/#{@day_index}"}}
              .day-wrapper.absolute
              -if @day_index <= @num_days_in_month &&  @calendar_cell_index >= @first_weekday_of_month
                .date-day-number.absolute.top-0.left-0
                  = link_to "#{@day_index}", show_day_path(@current_month.year, @current_month.month, @day_index)
                - if @appts[@day_index]
                  - @appts[@day_index].each do |a|
                    .cell-appt.absolute.left-0.right-0{style: "top: #{(a.date_from.hour.to_f * 4.17).to_s + '%'}"}
                - @day_index+=1
              - @calendar_cell_index += 1

:javascript
  $(document).ready(function(){
    $('td').on('click', function(){
      window.location = $(this).data('show-path');
    });
  });