.container
  .row
    .col.s12.m6.offset-m3
      %h3 Sign In
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        - flash.each do |key, value|
          %div{class:"#{flash_class(key)}"}
            = value
        .input-field
          = f.label :email
          = f.email_field :email, autofocus: true
          %small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
        .input-field
          = f.label :password
          = f.password_field :password, autocomplete: "off"
        - if devise_mapping.rememberable?
          .mb2
            %label 
              = f.check_box :remember_me, class: 'form-check-input'
              %span Remember me
        %button.btn.btn-info{:type => "submit"} Submit
      = render "devise/shared/links"
        