<%= simple_form_for @appointment, remote: true do |f| %>
	<div class="modal-content">
		<h5>New Appointment</h5>
		<div class="row">
			<div class="appointment-form">
				<%= f.label 'time' %>
				<%= f.time_select :date_time, {default: @date}, {style: 'width:75px;'} %>
				<br/>
				<%= f.input :description %>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<%= f.button :submit, id: 'btn-submit-new-appointment' %>
	</div>
<% end %>