= simple_form_for [@user, @appointment] do |f|
  = f.hidden_field :date, value: @date
  = f.label 'time'
  = f.time_select :date_from, {minute_step: 10}, {style: 'width:75px;'}
  = f.input :description
  = f.button :submit, id: 'btn-submit-new-appointment', class: "btn btn-info"
